body {
    background-color: #161116;
    color: white;

}
.main {
    max-width: 700px;
    padding-top: 2em;
    text-align: center;
    margin: auto
}
.flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    font-size: large;
    background: none;
    color: #ff4081;
    cursor: pointer;
}